/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    color: black;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}







/**MY CODE STARTS HERE**/
.wrapper {
    background-color: #f1f1f1;
    width: 960px;
    margin: 0 auto;
}

/**HEADER and NAVIGATION**/
header {/** A header that stays at the top of the page, with the "posisiton: fixed" **/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .header-title {
    background-color: #0f0f35;
    width: 100%;
    height: 100px;
    
}



header .header-title h1 {
    font-family: 'Open Sans', Lato, Arial;
    font-weight: 300;
    font-size: 36px;
    color: #ffffff;
    float: left;
    padding: 32px;
}

header div#header-image { /** The image in the header bar (rounded) **/
    position: relative;
    width: 90px;
    height: 90px;
    margin: 5px;
    overflow: hidden;
    float: left;
    border: none;
    border-radius: 40px;
}

header #header-image img {
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
    margin: auto;
    height: 100%;
    float: left;
}

#menu-trigger { /** the default setting for the menu side bar (for small displays), is hidden **/
    display: none;
}

#navCloseButton {
    color: #ffffff;
    z-index: 99;
    display: none;
    cursor: pointer;
    position: absolute;
    padding-top: 12px;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
header nav {
    text-align: center;
    height: 0; 
}

header nav ul li {
    display: inline-block;
    padding: 5px;
    position: relative;
    z-index: 2;
}

header nav ul li a {
    text-decoration: none; /** Resetting the style for a link **/
} 

header nav ul li div {
    color: #000000;
    font: normal 300 20px 'Open Sans', Lato, Arial;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);/** the drop shadow around the menu, making them look embossed **/
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    height: auto;
    padding: 15px 25px;
    border-radius: 25px;
    border: 0px;
    background-color: #ffffff;
}

header nav ul li div:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) inset; /** when hovered over the drop shadow inverts, looking like it has been pressed **/
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) inset;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) inset;
}

section {
    min-height: calc(100vh - 267px); /** min-height is to push the footer to the bottom of the page if there is insufficent content to cover the page **/
    margin-top: 163px;
}

.para-with-title {
    padding: 20px 0;
}
.para-with-title h2 {
    font-weight: 700;
    font-family: 'Open Sans', Lato, Arial;
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.para-with-title p {
    background-color: #ffffff;
    padding: 10px;
    font-weight: 400;
    font-family: Lato, 'Open Sans', Arial;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    margin: 0 20px;
}

/**SCROLLING BANNER**/
.scroll-banner {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 30vw;
    overflow: hidden;
}

.scroll-banner a.button {
    width: 100%;
}

.scroll-banner div.banner-img {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 30vw;
    transition: left 1s;
    overflow: hidden;
}

.scroll-banner div img {
    width: inherit;
    position: absolute;
    left: -9999px;      /** extreme value are used to center the images inside their  **/
    right: -9999px;     /** parent elemnt, when their width and height is larger the parent **/
    top: -9999px;
    bottom: -9999px;
    margin: auto;
}

.scroll-banner div.img0 {
    display: block;
    left: 0;
    z-index: 1;
}

.scroll-banner a.button {
    font-size: 2vw;
    background-color: rgba(90, 89, 89, 0.4);
    color: white;
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 14vw 10px;
    z-index: 1;
    height: 100%;
}
.scroll-banner a.button:hover {
    background-color: rgba(120, 120, 120, 0.8); /** changing the transparency of the side buttons when hovered over **/
}
.scroll-banner #bannerRightButton {
    position: absolute;
    width: auto;
    right: 0;
}

/**ORDER FORM**/
#order-form form td {
    position: relative;
    height: 200px;
    width: 240px;
    float: left;       /** setting the size of each item, then floating them so they appear in a grid, inside their parent **/
}

#order-form form div {
    position: relative;
    font-family: 'Open Sans', Lato,  Arial;
    font-weight: 400;
    font-size: 26px;
    margin: 10px;
    height: 180px;
    width: 220px;
    background-size: auto 100%;
    background-position: center center;
    
    -webkit-transition: all .25s ease-out;  /** transition for the hover effects, making the image and text larger **/
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
}

#order-form form div p.item-title {
    position: relative;
    margin: 15px;
    top: 15px;
    padding: 7px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
}

#order-form form div p.img-credit { /** styling for the small text at the bottom of each image, with a link to source **/
    position: absolute;
    float: right;
    right: 0;
    bottom: 0;
    padding: 1.5px;
    font-family: 'Open Sans', Lato, Arial;
    background-color: #99999999; /** colour code with a opacity (last 2 digits) **/
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

#order-form form div button { /** stying the ADD TO CART button **/
    font-family: 'Open Sans', Lato, Arial;
    font-weight: 300;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    position: absolute;
    margin: 15px;
    right: 0;
    bottom: 0;
    padding: 7px;
    opacity: 0.7;
    cursor: pointer;
    
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
}

#order-form form div:hover {    /** the hover effect making an item zoom in **/
    background-size: auto 110%;
    background-position: center center;
}

#order-form form div:hover button { /** the hover effect making the ADD TO CART button bigger **/
    opacity: 1;
    padding: 12px;
}

/** Cart list **/
#cart {
    font-family: Lato, 'Open Sans', Arial;
    position: relative;
    float: right;
    width: 200px;
    min-height: 200px; /** min-height so that the cart only needs to change height for larger orders **/
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    padding-bottom: 50px;
    background: #cccccc;
}

#cart h3 {
    font-family: 'Open Sans', Lato, Arial;
    font-size: 22px;
    font-weight: 500;
}

#cart #cart-list {
    float:left;
}

#cart #cart-list li {
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding: 7px 0;
}

#cart #cart-list li button {
    position: absolute;
    right: 10px;
    float: right;
    color: #eeeeee;
    padding: 3px 5px 3px 6px;
    border: none;
    background: #555555;
    cursor: pointer;
}

div#cart-submit {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
}

div#cart-submit button {
    color: #eeeeee;
    border: none;
    padding: 5px;
    background: #555555;
    cursor: pointer;
}

/** Diplaying the order in a table **/
div#order-display {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
    display: none;
    font-family: 'Open Sans', Lato, Arial;
    font-size: 24px;
    font-weight: 300;
}
/** formatting for each type of cell in the table **/
div#order-display p {
    text-align: center;
    margin-top: 47px;
    padding: 5px;
    color: #cccccc;
    background-color: #555555;
}
/** headings **/
div#order-display h3 {
    font-weight: 500;
    text-align: center;
    padding: 5px;
    color: #eeeeee;
    background-color: #555555;
}
/** heading and data cells **/
div#order-display td, th {
    padding: 5px;
}

div#order-display th {
    background-color: #cccccc;
    border: 1px solid #dddddd;
}

div#order-display td {
    background-color: #dddddd;
    border: 1px solid #eeeeee;
}

div#order-display button {
    font-family: 'Open Sans', Lato, Arial;
    font-weight: 300;
    font-size: 20px;
}
/** Setting the width of each column **/
div#order-display .table-name, div#order-display .table-quantity, div#order-display .table-price {
    width: 200px;
}

div#order-display button {
    font-family: 'Open Sans', Lato, Arial;
    font-weight: 300;
    padding: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

div#order-display #confirm-button {
    color: #ffffff;
    float: left;
    margin-left: 0;
    background-color: #c02b2b;
}

div#order-display #cancel-button {
    float: right;
    margin-right: 0;
}

div#order-display #change-button {
    float: right;
}

/** The confirm message once the confirm button is pressed **/
#order-message {
    display: none; /** the message is hidden by default **/
    font-family: 'Open Sans', Lato, Arial;
    text-align: center;
}

#order-message h3 {
    font-size: 36px;
    font-weight: 400;
    color: #eeeeee;
    background: #555555;
    padding: 5px;
}

#order-message p {
    font-size: 18px;
    font-weight: 300;
    background: #bbbbbb;
    padding: 10px;
}

/** Contact Form (contact.html page)**/
#contact-form {
    padding: 10px;
    width: 60%;
    float: left;
}

#contact-form h2 {
    font-family: "Open Sans", Lato, Arial;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #777777;
}

#contact-form p {
    font-family: 'Open Sans', Lato, Arial;
    font-weight: 300;
    font-size: 22px;
    padding: 5px 0;
}

#contact-form input, #contact-form textarea {
    font-family: 'Open Sans', Lato, Arial;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}

#contact-form input:focus, #contact-form textarea:focus { /** styling the input fields to slightly change if they are active **/
    outline: none;
    border: 1px solid #999999;
}

#contact-form input {
    width: 70%;
}

#contact-form textarea {
    width: 100%;
    resize: vertical;  /** Limiting the manual resizing to only the vertical axis, with a max and min **/
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}

#contact-form button {
    border: none;
    padding: 5px;
    font-family: 'Open Sans', Lato, Arial;
    font-size: 16px;
    font-weight: 400;
    background-color: #555555;
    color: white;
}

#contact-info {
    font-family: 'Open Sans', Lato, Arial;
    font-weight: 300;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    float: right;
    background: #bbbbbb;
}

#contact-info p {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 10px;
}

#contact-info li {
    padding: 10px;
    list-style-type: none; /** removing the bullet points **/
}

/**FOOTER**/
footer {
    background-color: #000000;
}

footer nav ul li {
    font: 300 20px 'Open Sans', Lato, Arial;
    padding: 40px 10px;
    display: inline-block;
}

footer nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 960px) { /** This responsive styling is for screens with a width of less than 960px **/
    .wrapper {  /** placing all the content in a skinnier column **/
        width: 600px;
    }

    .scroll-banner {    /** giving the scrolling banner a set height rather than a responsive one, else it may get too small **/
        height: 300px;
    }

    .scroll-banner div.banner-img {
        width: 100%;
        height: 100%;
    }

    .scroll-banner a.button {
        font-size: 20px;
        padding: 140px 10px;
    }

    .scroll-banner div img {
        position: absolute;
        left: -9999px;  /** Centralising the images **/
        right: -9999px;
        top: -9999px;
        bottom: -9999px;
        margin: auto;
        width: 100%;
        height: auto;
        min-height: 300px;  /** min-height is so that if the width of the window becomes smaller that the width of the image, the image won't get smaller than the banner **/
    }

    #cart {
        float: left;
        margin: 0;
        min-height: 100px;
        width: calc(100% - 20px);
    }

    /** Reszing all the text and sizes for a smaller display **/
    #order-form form {
        float: none; /** resetting the float **/
    }

    #order-form form td {
        height: 180px;
        width: 200px;
    }

    #order-form form div {
        font-size: 26px;
        margin: 10px;
        height: 160px;
        width: 180px;
    }
    
    #order-form form div p.item-title {
        margin: 10px;
        top: 10px;
        padding: 5px;
    }

    #order-form form div p.img-credit {
        font-size: 8px;
    }
    
    #order-form form div button {
        font-size: 20px;
        margin: 10px;
        right: 0;
        bottom: 0;
        padding: 10px;
    }

    #contact-info {
        float: left;
        width: calc(100% - 60px);
    }

    /**Contact Form**/
    #contact-form {
        padding: 10px;
        width: calc(100% - 40px);
        float: left;
    }
}

@media screen and (max-width: 600px) { /** For displays which are even smaller, with a max-width of 600px **/
    .wrapper {
        width: 100%;
    }
    
    .scroll-banner {
        height: 300px;
    }

    .scroll-banner div.banner-img {
        width: 100%
    }

    .scroll-banner div img { /** min-width and height so that the images will always fill up the banner **/
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
    }
  
    header .header-title {
        background-color: #0f0f35;
        width: 100%;
        height: 80px;
        
    }
    
    header .header-title img {
        float: left;
    }
    
    header .header-title h1 {
        font-family: 'Open Sans', Lato, Arial;
        font-weight: 300;
        font-size: 28px;
        color: #ffffff;
        float: left;
        padding: 26px;
    }
    
    header div#header-image {
        position: relative;
        width: 70px;
        height: 70px;
        margin: 5px;
        overflow: hidden;
        float: left;
        border: none;
        border-radius: 30px;
    }
    
    /** resizing the menu to fit on a smaller screen, with the cart at the top, instead of on the side **/
    #order-form form table {
        margin: 0 auto;
    }

    #order-form form tr {
        float: left;
        width: 480px;
        margin: 0 auto;
    }

    #order-form form td {
        height: 140px;
        width: 160px;
    }

    #order-form form div {
        font-size: 16px;
        margin: 10px;
        height: 120px;
        width: 140px;
    }
    
    #order-form form div p.item-title {
        margin: 10px;
        top: 10px;
        padding: 5px;
    }

    #order-form form div p.img-credit {
        font-size: 8px;
    }
    
    #order-form form div button {
        font-size: 16px;
        margin: 10px;
        right: 0;
        bottom: 0;
        padding: 5px;
    }

    #order-form form div:hover button {
        padding: 7px;
    }

    div#order-display {
        width: 100vw;
    }
    
    div#order-display td.table-name {
        font-size: 18px;    
    }

    div#order-display th {
        font-size: 18px;
    }
    
    div#order-display .table-name {
        width: 45%;
    }

    div#order-display .table-quantity {
        width: 30%;
    }

    div#order-display .table-cost {
        width: 25%;
    }
    /**Navigation side bar**/
    #menu-trigger {
        display: block;
        float: left;
        font-family: 'Open Sans', Lato, Arial;
        font-weight: 300;
        font-size: 36px;
        padding: 19px;
        cursor: pointer;
    }

    #menu-trigger a {
        color: #eeeeee;
        font-size: 40px;
        font-weight: 200;
    }

    section {
        min-height: calc(100vh - 236px);  /** setting a min-height to push the footer to the bottom of the page if the content won't fill the page **/
        margin-top: 80px;
    }
    
    header nav {
        height: 100vh;
        width: 250px;
        position: fixed;
        z-index: 99; /** making sure that the side bar will always be ontop **/
        top: 0;
        left: -250px; /** left set to a negative so by default it is off the screen **/
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align: right;
    }
    
    header nav ul li {
        padding: 5px;
        display: block; /** changed from an inline-block to display the navigation vertically **/
    }
        
    header nav ul li div {
        color: #000000;
        font: normal 300 20px 'Open Sans', Lato, Arial;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);  /** adjusting the drop shadows for a black background **/
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
        height: auto;
        padding: 15px 25px;
        border-radius: 25px;
        border: 0px;
        background-color: #ffffff;
    }
    
    header nav ul li div:hover {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) inset;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) inset;
    }
    /**FOOTER**/
    footer nav ul {
        padding: 30px;
    }

    footer nav ul li {
        font: 300 18px 'Open Sans', Lato, Arial;
        padding: 5px 10px;
        display: block; /** displaying the links in the footer vertiacally instead of hoziontally, so it will fit on the page **/
    }

    footer nav ul li a {
        text-decoration: none;
        color: #ffffff;
    }

    /**Contact Form**/
    #contact-form input {   /** setting the contact form to be the full width of the page **/
        width: 100%;
    }
}

@media screen and (max-width: 490px) {
    header #header-image { /** removing the header icon as the width is too small for the title **/
        display: none;
    }

    header .header-title h1 { 
        font-size: 24px;
        padding: 28px 5px;
    }

    #order-form form tr { /** setting a width for the menu so that the items are aligned horizontally (with "margin: 0 auto;") **/
        width: 320px;
    }

    #menu-trigger { /** making the sidebar trigger to be a smaller size **/
        font-size: 36px;
        padding: 19px 15px;
    }

    #menu-trigger a {
        color: #eeeeee;
        font-size: 30px;
        font-weight: 200;
    }
}